body {
	background-color: rgb(178, 193, 241);
}
.container {
	margin: 0 auto;
	background-color: rgb(187, 165, 165);
	width: 1000px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	gap: 20px;
}

.title-bg {
	background-color: rgb(58, 58, 58);
	text-align: center;
	border-radius: 10px;
}
.title {
	font-size: 40px;
	color:rgb(10, 119, 138);
}
.title-branch {
	font-size: 30px;
	color:rgb(238, 137, 4);	
}
.image {
	border-radius: 10px;

}